{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if files %}
        <table border="1" align="center" valign="center">
            <thead>
                <th>№</th>
                <th>Город</th>
                <th>Регион</th>
                <th>Федеральный округ</th>
                <th>Население</th>
                <th>Основание или первое упоминание</th>
                <th>Статус города</th>
                <th>Прежние названия</th>
            </thead>
            <tbody>
            {% for k in files  %}
            <tr>
                <td>{{k.num}}</td>
                <td>{{k.city}}</td>
                <td>{{k.reg}}</td>
                <td>{{k.fed_o}}</td>
                <td>{{k.hum}}</td>
                <td>{{k.his}}</td>
                <td>{{k.status}}</td>
                {% if k.his_name == "nan" %}
                    <td>  </td>
                {% else %}
                    <td>{{k.his_name}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Файла нет!</p>
    {% endif %}
{% endblock %}

